@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --background-main: rgb(82, 77, 77);
  --background-primary: rgb(255, 226, 173);
  --background-secondary: rgb(255, 165, 0);
  --background-ter: rgb(141, 131, 131);
  --bg-form: rgb(255, 210, 128);
  --bg-form-inbox: rgb(217, 217, 217);
  --font-canda: "Radio Canada", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  width: 100%;
  background: var(--background-main);
  background-image: linear-gradient(to bottom, #524d4d, #484343, #3f3a3a, #353131, #2c2828);
  padding: 1rem 5rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  color: white;
}

/* header #logo{
  flex-shrink: 0;
} */
.navbar {
  width: 100%;
  background-color: var(--background);
  font-weight: 400;
}

#logo {
  height: 120px;
}

.logo-container{
  flex-grow:1 ;
}
.nav-ele{
  flex-grow: 2;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4em;
  justify-content: center;
  align-items: center;
}

.navbar li:hover {
  border-bottom: 2px solid var(--background-secondary);
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.join-btn,
.close-btn,
.buy-plan {
  background-color: var(--background-secondary);
  border-radius: 0.6em;
  border: none;
  /* margin: 0 1em; */
  width: 8em;
  height: 3em;
  font-weight: 500;
  font-size: 1.1em;
  border: 2px solid black;
  box-shadow: 8px 4px 8px -3px rgba(0, 0, 0, 0.75);
}

.join-btn:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--background-primary);
}

.join-btn:hover,
:focus {
  background-color: var(--background-main);
  color: white;
}

.subscription {
  padding: 1.5rem 2rem;
  /* padding-top: 3rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  background-image: url("./assets/img/bg\ 1.jpg");
  background-position: center;
  background-size: cover;
}
.subscription > h1 {
  color: var(--background-secondary);
  font-weight: 500;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4rem 5rem;
}
.card > * {
  display: flex;
  width: 20vw;
  padding: 1.5rem 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
}
.card-div {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* h3 {
    color: var(--background-secondary);
    font-family: var(--font-canda);
    font-size: 1.75rem;
    font-weight: 500;
}
h2 {
    color: var(--background-secondary);
    font-weight: 500;
} */
.card p {
  color: white;
}
.underline {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.card img {
  /* height: 20vh; */
  border: 2px solid white;
  border-radius: 20px;
  object-fit: cover;
  width: 15vw;
  height: 30vh;
}
.select-plan {
  width: 14em;
  padding: 1rem;
  background-color: #c53b3b;
  font-weight: 500;
  font-size: 0.9rem;
  color: white;
  border: none;
  border-radius: 40px;
}

.training-partner {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  background-image: linear-gradient(
    to top,
    #414040,
    #585757,
    #707070,
    #898989,
    #a3a3a3
  );
}

.training-partner h1 {
  color: black;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
}
.train {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4rem 5rem;
}
.train > * {
  display: flex;
  width: 20vw;
  padding: 1.5rem 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
}

.train p {
  color: white;
}
.underline {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.train img {
  border-radius: 20px;
  object-fit: cover;
  width: 15vw;
  height: 50vh;
  box-shadow: 10px 10px 20px -9px rgba(0, 0, 0, 0.75);
}

.train-button {
  width: 14em;
  padding: 1rem;
  font-family: Radio Canada;
  background-color: black;
  font-size: 1em;
  letter-spacing: 1px;
  color: white;
  border: none;
  border-radius: 40px;
}
.image-container img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.more {
  background-color: var(--background-main);
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* gap: 4rem 5rem; */
}

.contact-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  color: white;
}

.orange {
  color: var(--background-secondary);
}
.white {
  color: white;
}
.goal img {
  height: 200px;
}
.goal p {
  font-weight: 600;
}

.tag-heading span {
  text-decoration: underline;
}
.underline {
  text-decoration: underline;
}

.tags {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-direction: column;
}
.tag-heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
}

.bg-orange {
  background-color: var(--background-secondary);
}
.tag-heading button {
  border-radius: 2px;
  border: none;
  /* margin: 0 10px; */
  width: 80px;
  height: 35px;
  font-weight: 500;
  font-size: 1em;
}

footer {
  font-weight: 600;
  text-align: center;
  padding: 0.4rem;
}
