@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --background-main: rgb(82, 77, 77);
  --background-primary: rgb(255, 226, 173);
  --background-secondary: rgb(255, 165, 0);
  --background-ter: rgb(141, 131, 131);
  --bg-form: rgb(255, 210, 128);
  --bg-form-inbox: rgb(217, 217, 217);
  --font-canda: "Radio Canada", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body { */
/* background-color: chocolate; */
/* display: flex;
  flex-direction: column;
  justify-content: center; */
/* } */

header {
  width: 100%;
  background: var(--background-main);
  background-image: linear-gradient(
    to bottom,
    #524d4d,
    #484343,
    #3f3a3a,
    #353131,
    #2c2828
  );
  padding: 1rem 2rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  color: white;
}

/* header #logo{
  flex-shrink: 0;
} */
.navbar {
  /* width: 100%; */
  background-color: var(--background);
  font-weight: 400;
}
.nav-logo{
  align-items: center;
  text-align: center;
}
#logo {
  height: 120px;
}

.logo-container {
  /* flex-grow:1 ; */
}
.nav-ele {
  /* flex-grow: 2; */
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  /* gap: 8%; */
  justify-content: space-between;
  gap: 0 2.5rem;
  align-items: center;
}

ul li{
  /* padding:0 2em; */
}

.navbar li :not(.join-btn):hover  {
  border-bottom: 2px solid var(--background-secondary);
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar a:hover {
  color: white;
  transform: scale(1.2);
}


.join-btn,
.close-btn,
.buy-plan {
  background-color: var(--background-secondary);
  border-radius: 0.6em;
  border: none;
  /* margin: 0 1em; */
  width: 8em;
  height: 3em;
  font-weight: 500;
  font-size: 1.1em;
  border: 2px solid black;
  box-shadow: 8px 4px 8px -3px rgba(0, 0, 0, 0.75);
}

.join-btn:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--background-primary);
}

.join-btn:hover,
:focus {
  background-color: var(--background-main);
  color: white;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  background-image: url("./assets/img/girl\ gym.webp");
  background-position: center;
  background-size: cover;
  position: relative;
  /* transform: scale(2,2); */
}

.getStarted-h {
  /* display: flex; */
  font-size: 3em;
  color: white;
  font-weight: 700;
  font-family: "Radio Canada", sans-serif;
  text-align: left;
}

.gettStarted-desc {
  font-size: 1em;
  color: #d7d0d0;
  padding: 40px;
}

.buttons > button:nth-child(1) {
  background-color: var(--background-secondary);
}
.buttons > button:nth-child(2) {
  background-color: #4d4848;
  color: white;
  border: 2px solid var(--background-secondary);
}
.buttons > button:hover {
  background-color: var(--background-ter);
  cursor: pointer;
}

.btn-start {
  border-radius: 0.6em;
  border: none;
  margin: 0 1em;
  width: 10em;
  height: 3em;
  font-weight: 500;
  font-size: 1.1em;
}
.popup {
  width: 40vw;
  height: 90vh;
  font-size: 0.9em;
  background-color: white;
  border-radius: 16px;
  padding: 8px 30px;
  position: fixed;
  box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
  top: 0;
  font-weight: 400;
  left: 0;
  display: none;
}
.small {
  font-size: 0.5em;
}

.popup button {
  margin: 10px 30px;
}
.popup h1 {
  text-align: center;
  margin-bottom: 25px;
}

.popup.open {
  display: block;
  left: 50%;
  top: 50%;
  z-index: 111;
  transform: translate(-50%, -50%) scale(1);
}

.cutout {
  clip-path: polygon(0px 0px, 100% 0px, 80% 100%, 0% 100%);
  background-color: var(--background-secondary);
  position: absolute;
  bottom: -100px;
  left: -30px;
  height: 50px;
  width: 200px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  /* border: 2px solid white; */
}

.fa {
  z-index: 100;
}

.parent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 3em;
}

.parent > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  /* margin-top:3em; */
  border-top: none;
  font-weight: 600;
}
.plan > img {
  height: 100px;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  border-bottom: 3px solid black;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
  border-right: 3px solid black;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
  border-right: 3px solid black;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.subscription {
  padding: 4.5rem 2em;
  /* padding-top: 3em; */
  /* margin-top: 3em; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4em;
  background-image: url("./assets/img/sub-img.jfif");
  background-position: center;
  background-size: cover;
}

.subscription > h1 {
  color: var(--background-secondary);
  font-weight: 500;
  font-size: 2em;
  font-family: "Ubuntu", sans-serif;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
  flex: 0;
  gap: 4rem 5em;
}
.card > *:hover {
  filter: drop-shadow(4px 5px 18px var(--background-primary));
  scale: 1.1;
  background-color: #1a1919;

  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(100);
  transition: 0.3s;
}
.card > * {
  display: flex;
  padding: 1.5rem 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

h3 {
  color: var(--background-secondary);
  font-family: var(--font-canda);
  font-size: 1.75em;
  font-weight: 500;
}
h2 {
  color: var(--background-secondary);
  font-weight: 500;
}
.card p {
  margin-top: -1em;
  color: var(--background-ter);
}

.select-plan {
  border-radius: 10px;
  width: 150px;
  height: 45px;
  font-size: 1.2em;
  border: 3px solid var(--background-secondary);
  background-color: var(--background-secondary);
  color: black;
}

.fitness-club {
  background-image: url("./assets/img/fitness-club.png");
  height: 50vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.sessions {
  background-color: white;
  width: 80%;
  /* position: absolute; */
  bottom: -200px;
  right: 10%;
}
.fitness-bg {
  position: relative;
}

.services {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1rem;
  background: white;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  /*   
  bottom: 10%;
  left: 10%;
  position: absolute; */
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 1rem 1rem;
  width: 25vw;
  gap: 1rem 4rem;
}

.img-div {
  position: relative;
  height: 100vh;
}
.service img {
  max-width: 40%;
}
.service p {
  font-weight: 600;
  font-size: 0.8em;
}
.yellow-bg {
  background-color: #ffa500;
  height: 50vh;
  /* position: relative; */
}

.best-facility {
  background-color: black;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4rem 5em;
}
.fac {
  display: flex;
  height: 20rem;
  /* padding: 1.5rem 4em; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 500;
  gap: 2em;
  color: var(--background-secondary);
}
.fac img {
  height: 20em;
}

.more {
  background-color: var(--background-main);
  padding: 2em 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* gap: 4rem 5em; */
}

.contact-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 2em;
  color: white;
}

.orange {
  color: var(--background-secondary);
}
.white {
  color: white;
}
.goal img {
  height: 10rem;
}
.goal p {
  font-weight: 600;
}

.tag-heading span {
  text-decoration: underline;
}
.underline {
  text-decoration: underline;
}

.tags {
  display: flex;
  gap: 3em;
  justify-content: center;
  flex-direction: column;
}
.tag-heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 2em;
}

.bg-orange {
  background-color: var(--background-secondary);
}
.tag-heading button {
  border-radius: 2px;
  border: none;
  /* margin: 0 10px; */
  width: 80px;
  height: 35px;
  font-weight: 500;
  font-size: 1em;
}
.sec {
  padding: 1rem;
}

.sec p {
  font-size: 1rem;
}

footer {
  font-weight: 600;
  text-align: center;
  padding: 0.4em;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  header {
    /* display: none; */
  }
  .section-1 {
    min-width: 100vw;
  }
}

@media screen and (max-width: 426px) {
  /* header {
    display: none;
  } */
  .section-1 > * {
    min-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .best-facility {
    min-width: 100%;
    display: inline-block;
  }
  .parent {
    background: #ffa50052;
  }
  .img-div {
    background-color: #ffa500;
  }
  .card,
  .best-facility {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .best-facility {
    gap: 0;
  }

  .parent,
  .more,
  .goal,
  .tags {
    /* grid-template-rows: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem 0;
    /* this is the same as grid-template-rows: 300px 300px; */
    /* grid-template-rows: repeat(6, 300px); */
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section-1 {
    position: relative;
  }
  .cutout {
    bottom: 0px;
    position: absolute;
  }
  .fac {
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
  }

  .parent > * {
    /* grid-area: auto; */
    border: none;
  }
  .yellow-bg {
    display: none;
  }
  .services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px 0;
    width: 40%;
    padding: 0;
  }
  .service {
    /* border: 1px solid black; */
    padding: 0;
  }
  .yellow-bg {
    height: 400px;
  }

  .contact-details {
    /* grid-template-rows: repeat (minmax(300px, 1fr)); */
    grid-template-columns: auto;
    justify-content: center;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }

  /* .nav-ele {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
}
.nav-ele li {margin-top: 40px;}
.nav-ele li a {padding: 10px;}
.open-menu , .close-menu {display: block;}
#check:checked ~ .nav-ele {right: 0;}
} */
}
@media screen and (max-width: 768px) {
  header {
    padding: 0px;
  }
  .more > * {
    display: flex;
    flex-wrap: wrap;
  }
}
